<launch>
    <arg name="seq" default = "/00" />
    <arg name="param" default = "" /> <!-- param is used for tuning "$(arg param)" -->
    <arg name="data_path" default = "" />
    <arg name="result_path" default = "$(find cad_mesher)/../../cad_mesher_result/urbanloco/kitti" />

    <rosparam file="$(find cad_mesher)/config/urbanloco.yaml" command="load" />
    <node pkg="cad_mesher" type="cad_mesher" name="cad_mesher" output="screen">
        <param name="seq" value="$(arg seq)"/>
        <param name="file_loc_report"  value="$(arg result_path)"/>
        <param name="file_loc_dataset" value="$(arg data_path)"/>
    </node>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cad_mesher)/config/rviz/cad_mesher.rviz" required="false" respawn="true" />
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cad_mesher)/config/rviz/urbanloco_video.rviz" required="false" respawn="true" /> -->
</launch>

